body.post-type-archive-blog,
body.single-blog {

	.wrapper {
		max-width: 600px;
	}




}

article.blog {

	.article-header {
		padding: 0 0 30px 0;

		span.date {
			display: block;
			font-family: $gotham;
			text-transform: uppercase;
			font-size: 0.675em;
			letter-spacing: 0.10em;
			padding: 0 0 10px 0;
		}

		h2.title {
			font-weight: 900;
		}

	}

	.article-body {
		h3 {
			font-weight: bold;
			font-size: 1.125em;
			padding: 0 0 10px 0;
		}
		p, ul, ol {
			font-size: 1.125em;
			line-height: 1.5em;
			padding: 0 0 20px 0;
		}
		ul {
			list-style-type: disc;
		}
		ol {
			list-style-type: decimal;
		}
		ul, ol {
			margin: 0 0 0 30px;

			li {
				padding: 0 0 10px 0;

				&:last-of-type {
					padding: 0;
				}
			}
		}

		ul + h3,
		ol + h3 {
			padding-top: 50px;
		}

		img {
			margin: 0 0 30px 0;
		}

	}



}


.blog-header {
	padding-bottom: 100px;

	.heading {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 30px;
	}

	h1 {
		font-family: $hoefler;
		font-style: italic;
		font-size: 2em;
	}

}