#patreon-banner {
	background: $slate;
	color: $white;
	padding: 15px 0;
	text-align: center;
	transition: background 0.3s;

	&:hover {
		background: $orange;
	}

	a {
		display: inline-block;
		font-family: $gotham;
		font-size: 0.675em;
		line-height: 18px;
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
		letter-spacing: 0.10em;
		background: url(images/patreon-logo.png) no-repeat 0 0;
		padding: 0 0 0 26px;

		&:hover {
			text-decoration: underline;
		}
	}

}