header {
	padding: 50px 0 75px 0;

	h1 {
		text-align: center;

		#logo {
			display: inline-block;
			max-width: 300px;
			padding-right: 3.3333%;

			@include mobile-portrait {
				max-width: 480px;
				padding-right: 0;
			}

			@include tablet-portrait {
				max-width: 100%;
			}

			img {
				image-rendering: -moz-crisp-edges;
				image-rendering: -o-crisp-edges;
				image-rendering: -webkit-optimize-contrast;
				-ms-interpolation-mode: nearest-neighbor;				
			}
			
		}

	}

	#toggle {
		position: absolute;
		top: 10px;
		right: 10px;
	    cursor: pointer;
	    padding: 15px 5px;
	    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	    z-index: 1000;



		.patty {
		    width: 24px;
		    height: 3px;
		    background: $slate;
		    transition: all 0.3s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 24px;
			    height: 3px;
			    background: $slate;
			    position: absolute;
			    z-index: -1;
			    transition: all 0.3s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}

	&.open {

		#toggle .patty {
			background: none;

			&:after {
				background: $slate;
			    top: 0;
			    transform: rotate(45deg);
			}
			&:before {
			    top: 0;
			    background: $slate;
			    transform: rotate(-45deg);
			}
		}

	}


}


nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100%;
	background: rgba(250, 250, 250, 0.98);
	color: $slate;
	text-align: center;

	.wrapper {
	    height: 100vh;
	    max-width: 640px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
	    height: 100vh;
	    align-items: center;
	    padding: 10px 0;
	
		@include tablet-portrait {
			padding: 100px 0;
		}

		li {
			flex-basis: 100%;

			a {
				font-size: 1.5em;
				font-style: italic;
				padding: 10px 0;
				display: inline-block;
				padding: 10px;
				color: $slate;
			
				&:hover {
					background: $yellow;
				}	
			
				@include tablet-portrait {
					font-size: 3.5em;
					letter-spacing: -0.02em;
					padding: 20px;
					border-radius: 2px;
				}
			}
		}
	}



}

