article.issue {

	.wrapper {
		max-width: 600px;

		@include mobile-landscape {
			padding: 0;
		}
	}

	h2.section-title {
		font-size: 0.875em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.10em;
		padding: 0 0 30px 0;
	}




	section.news {
		padding: 50px 0 61px 0;
		background: url(images/separator.png) left bottom repeat-x;

		h3,
		h4,
		h5 {
			font-family:  $hoefler;

			a {
				&:hover {
					background: $yellow;
				}
			}
		}

		h6 {
			text-transform: uppercase;
			font-weight: 900;
			padding: 0 0 5px 0;
			letter-spacing: 0.05em;
			font-size: 0.625em;
			color: #4a4a4a;
		}

		.primary {
			padding: 0 0 30px 0;
			border-bottom: 1px solid #d5d5d5;


			h3 {
				font-size: 2em;
				line-height: 1.25em;
			}
		}

		.secondary {
			padding: 30px 0 40px 0;

			&.last {
				padding: 0 0 30px 0;
				border-bottom: 1px solid #d5d5d5;
			}

			h4 {
				font-size: 1.375em;
				line-height: 1.25em;
				
				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}

		.tertiary {
			padding: 30px 0 0 0;

			h5 {
				font-size: 1.25em;
				line-height: 1.25em;

			}
		}

	}

	section.perspectives {
		padding: 61px 0 81px 0;
		background: url(images/separator.png) left bottom repeat-x;


		article.perspective {
			padding: 0 0 50px 0;

			&:last-of-type {
				padding: 0;
			}
		}

	}



	section.article-body {
		padding: 50px 0;

		a {
			background: $yellow;
			border-bottom: 1px dotted;
		}

		h3 {
			font-weight: 900;
			font-size: 1.5em;
			padding: 0 0 15px 0;
		}

		p, ul, ol {
			font-size: 1.125em;
			line-height: 1.375em;
			padding: 0 0 30px 0;
		}

		p + h3 {
			padding-top: 30px;
		}

		blockquote {
			padding: 0 0 0 30px;
			margin: 0;

			p {
				font-size: 1em;
				line-height: 1.5em;
			}
		}

		ul, ol {
			padding: 0 0 30px 30px;
		}

		ul li,
		ol li {
			padding: 0 0 15px 0;

			&:last-of-type {
				padding: 0;
			}
		}
		
		ul li {
			list-style-type: disc;
		}
	}

}

#pagination {
	padding: 50px 0;

	.wrapper {
		max-width: 600px;
		padding: 0 25px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;

	    @include mobile-landscape {
			padding: 0;
	    }
	}

	a {
		display: block;
		color: $slate;
		border: none;
		font-size: 0.675em;
	   
	    @include tablet-portrait {
			font-size: 0.75em;
	    }

	}

	.day, .next, .prev {		
		align-self: center;

		a {
			text-align: center;
			font-weight: 400;
			border-radius: 8px;
			display: block;
			border: 1px solid #fafafa;

			&:hover {
				background: transparent;
				color: $slate;
				border: 1px solid #6a6a6a;
			}
	
		}

	}

	.day {
		display: none;

		@include mobile-landscape {
			display: block;
		}

		a {

			span {
				display: block;
				padding: 0 0 5px 0;
				font-size: 0.75em;
				font-weight: 900;
				text-align: center;
			}	
		}

		&.active a {
			border: 1px solid #e5e5e5;
			color: #b5b5b5;

			&:hover {
				background: #fafafa;
				color: $slate;
				border: 1px solid #6a6a6a;
			}
		}		
	}

	.next,
	.prev {
		a {
			display: flex;
			align-items: center;
		}


		span.arrow {
			display: inline-block;
		}
		span.caption {
			display: inline-block;
			font-size: 0.675em;
			font-weight: 700;

			@include mobile-landscape {
				display: none;
			}			
		}
		a {
			font-size: 1.125em;
		}
	}

	.next span.caption {
		padding: 0 5px 0 0;
	}

	.prev span.caption {
		padding: 0 0 0 5px;
	}
}