body.single {

	section.news,
	section.perspectives {

		h4.edition {
			font-family: $gotham;
			font-size: 0.75em;
			padding: 20px 0 40px 0;
			border-bottom: 1px solid #e5e5e5;

			a {
				strong {
					border-bottom: 1px dotted;
				}
			}

		}

		.tags {
			padding: 40px 0 0 0;
			font-family: $gotham;

			a {
				text-transform: uppercase;
				font-size: 0.6875em;
				font-weight: 700;
				color: #a5a5a5;

				&:hover {
					text-decoration: underline;
				}

				&::before {
					content: '#';
				} 
			}
		}
		
	}

}