body.single {

	section.perspectives {
		background: none;
		padding: 50px 0 0 0;
		
		.source-image {
			padding: 0 0 30px 0;
		}

		h4.edition {
			padding: 40px 0 40px 0;

			a:hover {
				background: $yellow;
			}
		}
		
	}

}