body.tag {

	#tag-timeline {




		.wrapper {
			max-width: 800px;

			@include tablet-landscape {
				padding: 0;
			}
		}


		#items {
			margin: 50px 0 0 0;
	
			@include tablet-portrait {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					height: 100%;
					background: #e5e5e5;
					left: 50%;
					margin-left: -2px;
					width: 2px;
				}
			}

			.item-block {
				padding: 30px 0;

				@include tablet-portrait {
					padding: 50px 0;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

			}





			article {

				@include tablet-portrait {
					width: 47.5%;
					order: -1;


					&.news {
						h5 {
							font-size: 1.5em;
						}
					}

					&.perspective {
						blockquote {
							p {
								font-size: 1.125em;
							}
						}


					}
				}

			}

			aside {

				@include tablet-portrait {
					width: 47.5%;	
				}

				span {
					font-family: $gotham;
					font-size: 0.75em;
					font-weight: 900;
					display: block;
					text-align: left;
					padding: 0 0 15px 0;
					color: #b5b5b5;

					@include tablet-portrait {
						font-size: 0.75em;
						padding: 0;
					}

					&:before {
						@include tablet-portrait {
							content: '';
							width: 6px;
							height: 6px;
							background: #b5b5b5;
							border-radius: 50%;
							display: block;
							position: absolute;
							left: 49.5%;
							top: 50%;
							margin-top: -4px;
						}
					}

				}
			}


			.item-block:nth-child(even) {
				
				@include tablet-portrait {
					
					article {
						order: 1;
					}

					aside {

						span {
							text-align: right;
						}

					}
		
				}

			}



		}


	}



}