body {
	background: #fafafa;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px; 
	padding: 0 25px;
    transition: padding 0.2s ease-in;

    @include tablet-portrait {
		padding: 0 50px;
    }

	@media screen and (min-width: 1260px) {
		padding: 0;
	}
}


.source-image {
	max-width: 150px;
	padding: 0 0 10px 0;

	&.bbc-news,
	&.cbs-news,
	&.the-economist,
	&.yahoo,
	&.the-atlantic,
	&.the-cook-political-report,
	&.reuters,
	&.politico {
		max-width: 120px;
	}

	&.npr,
	&.slate,
	&.gq,
	&.vox,
	&.time,
	&.cnn {
		max-width: 75px;
	}

	&.the-new-york-times-magazine {
		max-width: 225px;
	}

	img {
		image-rendering: -moz-crisp-edges;
		image-rendering: -o-crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		-ms-interpolation-mode: nearest-neighbor;
	}
}

body.post-type-archive-books .issue .wrapper {
	max-width: 1200px;
	padding: 0 50px;


}

article.issue section.book-header {
	margin: 25px 0 0 0;
	border-top: 1px solid #d5d5d5;
	padding: 50px 0 0 0;

	h2 {
		font-weight: 900;
		font-size: 2.5em;
		letter-spacing: -0.03em;
	}
}

article.issue section.book-list {
	padding: 50px 0 0 0;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.book {
		display: flex;
		flex-basis: 100%;
		padding: 0 0 100px 0;
		flex-wrap: wrap;


		@include tablet-landscape {
			flex-basis: 50%;
		}

		.info {
			flex-basis: 100%;
			padding: 40px 0 0 0;
			text-align: center;

			@include tablet-landscape {
				flex-basis: 55%;
				text-align: left;
				padding: 0 20px 0 0;
			}

			@include desktop {
				flex-basis: 65%;
				padding: 0 20px 0 20px;
			}

			.genre {
				display: block;
				padding: 0 0 20px 0;
				font-family: $gotham;
				text-transform: uppercase;
				font-size: 0.75em;
				font-weight: 900;
				letter-spacing: 0.1em;
				color: #999;
			}

			h2 {
				font-size: 3em;
				font-style: italic;
				font-family: $hoefler;
				font-weight: 400;
				padding: 0 0 10px 0;

			}
			h3 {
				font-size: 0.75em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				line-height: 1.375em;
				font-weight: 700;
				color: #bbb;
				padding: 0 0 20px 0;
			}
			h4 {
				font-family: $hoefler;
				font-size: 1.25em;
				font-weight: bold;
			}


		}


		.cover {
			min-width: 160px;
			flex-basis: 100%;

			@include tablet-landscape {
				flex-basis: 40%;
			}

			@include desktop {
				flex-basis: 30%;
			}

			img {
				margin: 0 auto;
				box-shadow: -10px 10px 20px 3px rgba(0, 0, 0, 0.25);
				transition: all 0.3s;



				@include tablet-landscape {
					margin: 0;
				}
			}



		}
	
		&:hover {
			img {
				box-shadow: -12px 12px 20px 3px rgba(0, 0, 0, 0.30);
			}
			
		}

	}

}


body.error404 {

	section.main-content {
		padding: 50px 0 0 0;
		min-height: 360px;

		h3 {
			font-size: 1.375em;
			line-height: 1.5em;
			font-family: $gotham;
			padding: 0 0 40px 0;
		}

		p {
			padding: 0 0 20px 0;
		}

		p, ul li {
			font-size: 1.125em;
		}

		ul {
			padding: 0 0 0 40px;
		}
		
		ul li {
			list-style-type: disc;
			padding: 0 0 15px 0;
		}

		a {
			border-bottom: 1px dotted;

			&:hover {
				background: $yellow;
			}
		}
	}

}