html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $slate;
	font: 400 100%/1 $hoefler;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $gotham;
}

a {
	color: $slate;
	transition: color 0.2s ease-in-out;
}


#pagination a,
.btn {
	display: inline-block;
	font-family: $gotham;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.10em;
	font-size: 0.75em;
	padding: 10px 16px 8px 16px;
	border-radius: 3px;
	color: $purple;
	border: 2px solid $purple;
	background: transparent;
	transition: all 0.3s;

	&:hover {
		background: $purple;
		color: $white;
	}
}

section.article-header {

	h2 {
		font-size: 0.625em;
		font-weight: 700;
		line-height: 0.75em;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.20em;
		padding: 20px 0;
		background: url(images/header-top.png) left top repeat-x, url(images/header-bottom.png) left bottom repeat-x;

		@include tablet-portrait {
			font-size: 0.75em;
		}
	}
}



article.news {

	h3,
	h4,
	h5 {
		font-family:  $hoefler;

		a {
			&:hover {
				background: $yellow;
			}
		}
	}

	h5 {
		font-size: 1.25em;
		line-height: 1.25em;

	}


	h6 {
		text-transform: uppercase;
		font-weight: 900;
		padding: 0 0 5px 0;
		letter-spacing: 0.05em;
		font-size: 0.625em;
		color: #4a4a4a;
	}


}


article.perspective {
	blockquote {
		padding: 0 15px 0 15px;
		margin: 0;
		position: relative;

		@include tablet-portrait {
			padding: 0 30px 0 30px;
		}

		&::before {
			content: ' ';
			width: 32px;
			height: 29px;
			background: url(images/quote.png) no-repeat 0 0;
			background-size: 100%;
			position: absolute;
			top: -10px;
			left: -10px;
			opacity: 0.05;
			
			@include tablet-portrait {
				width: 65px;
				height: 58px;
				top: -5px;
				left: -10px;
			}
		}

		p {
			font-size: 1.125em;
			line-height: 1.5em;
			
			@include tablet-portrait {
				font-size: 1.25em;
			}
		}

		p + p {
			padding-top: 15px;
		}
	}

	h5 {
		font-weight: 700;
		padding: 15px 0 0 15px;
		font-size: 0.8125em;
		line-height: 1.5em;

		@include tablet-portrait {
			padding: 15px 0 0 30px;
		}

		.source {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.05em;
			font-size: 0.8461em;
		}

	}

	h6 {
		font-size: 0.75em;
		line-height: 1.5em;
		font-weight: 400;
		max-width: 360px;
		padding: 0 0 0 15px;

		@include tablet-portrait {
			padding: 0 0 0 30px;
		}

		.title em {
			font-style: normal;
			border-bottom: 1px dotted;
		}

		a {
			&:hover {
				background: $yellow;
			}
		}

	}

}