/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$green: #a8ae8f;
$slate: #2a2a2a;
$gold: #ccc283;
$link-color: #37c9ff;
$yellow: #ffff1b;
$orange: #e6461a;
$purple: #816296;

$mailchimp-blue: #1968c5;
$mailchimp-red: #e41324;


/* Typography
----------------------------------*/
$sentinel: "Sentinel A", "Sentinel B", serif;
$hoefler: "Hoefler Text A", "Hoefler Text B", serif;
$gotham: "Gotham SSm A", "Gotham SSm B";