section#calendar,
section#tag-list {
	.wrapper {
		max-width: 640px;
	}

	padding: 50px 0;

}

section#tag-list {
	padding: 50px 0 100px 0;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	a {

		font-family: $gotham;
		font-size: 0.675em;
		font-weight: 700;
		display: inline-block;
		padding: 7px 5px;
		color: #888;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		transition: color 0.2s;

		&:hover {
			color: $slate;
		}

	}


}


body#archives {

	article.issue .wrapper {
		padding: 0 50px;
		max-width: 640px;

		@include desktop {
			padding: 0;
		}
	}

}


table.calendar {
	width: 100%;
	font-family: $gotham;
	font-size: 1em;
	text-align: center;
	margin: 0 0 75px 0;

	&:last-of-type {
		margin: 0;
	}

	caption {
		font-weight: 700;
		font-size: 1em;
		text-transform: uppercase;
		padding: 0 0 30px 0;

		.monthName {
			display: inline-block;
			width: 90px;
			text-align: center;
		}

		a {
			display: inline-block;
			font-family: $gotham;
			font-style: normal;
			font-weight: 900;

			&.prevMonth {
				margin-right: 15px;
			}

			&.nextMonth {
				margin-left: 15px;
			}

		}
	}
	thead {
		th {
			font-size: 0.875em;
			font-weight: 900;
			text-transform: uppercase;
			padding: 0 0 15px 0;
		}
	}

	tbody {

		tr:last-of-type td {
			border-bottom: none;
		}

		td {
			width: 14.2857%;
			height: 80px;
			vertical-align: middle;
			font-weight: 400;
			border-right: 1px dotted #d5d5d5;
			border-bottom: 1px dotted #d5d5d5;

			&:last-of-type {
				border-right: none;
			}
			

			span {
				color: #b5b5b5;
				font-size: 0.8125em;
			}

			a {
				font-size: 0.8125em;
				font-weight: 900;
				display: inline-block;
				color: $white;
				width: 31px;
				height: 31px;
				padding: 9px 0 0 1px;
				border-radius: 50%;
				transition: background 0.3s;
			}
		}
	}

	&.jan,
	&.feb,
	&.mar {
		tbody a { background: #cec2c3; }
		tbody a:hover { background: #bdb5b6; }
	}

	&.apr
	&.may
	&.jun {
		tbody a { background: #b5c0b2; }
		tbody a:hover { background: #8ba385; }
	}

	&.jul,
	&.aug,
	&.sep {
		tbody a { background: #e6e8d5; }
		tbody a:hover { background: #d1d4b4; }
	}

	&.oct,
	&.nov,
	&.dec {
		tbody a { background: #cdd6df; }
		tbody a:hover { background: #c0c9d3; }
	}

}