section#explore {
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #d5d5d5;

	.wrapper {
		max-width: 600px;

		@include mobile-landscape {
			padding: 0;
		}
	}

	span, a {
		font-family: $gotham;
		text-transform: uppercase;
		font-size: 0.6125em;
		font-weight: 700;
		display: inline-block;
		letter-spacing: 0.03em;
		padding: 5px;
	}

	a {
		
		color: #b5b5b5;
		transition: color 0.2s;

		&::before {
			content: "#";
		}

		&:hover {
			color: $slate;
		}
	}


}