#mailchimp-signup {
	padding: 75px 0 85px 0;
	margin: 75px 0 0 0;
	color: $slate;
	background: url(images/mail-border.png) repeat-x left top;
	background-color: #fafafa;
	border-top: 1px solid #e5e5e5;
	box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);

	.wrapper {
		max-width: 600px;

	    @include mobile-landscape {
			padding: 0;
	    }
	}

	#mc_embed_signup form {
		padding: 0;
	}

	#mc_embed_signup h2 {
		font-weight: 900;
		font-size: 1.5em;
		margin: 0;
		padding: 0 0 15px 0;
		color: $slate;
	}

	#mc_embed_signup div#mce-responses {
		top: 0;
		float: none;
		width: auto;
		margin: 0;
		overflow: visible;
	}
	#mc_embed_signup .mc-field-group {
		width: 100%;
		padding: 0;
		min-height: 0;
		display: flex;
	}

	#mc_embed_signup .mc-field-group div.email {
		flex-basis: 80%;
		padding: 0 20px 0 0;
	}
	#mc_embed_signup .mc-field-group div.submit {
		flex-basis: 20%;
		align-self: flex-end;
	}

	#mc_embed_signup div.response {
		padding: 10px 0 0 0;
		margin: 0;
		float: none;
		top: 0;
		position: absolute;
		bottom: -20px;
		left: 0;
		width: 80%;
		text-indent: 0;
		display: inline-block;
		color: $mailchimp-red;
		font-size: 0.75em;
		line-height: 1.375em;
		border: none;
		font-family: $gotham;

	}

	label {
		text-transform: uppercase;
		font-family: $gotham;
		font-size: 0.625em;
		font-weight: bold;
		letter-spacing: 0.10em;
		padding: 0 0 5px 0;
		color: $slate;
		display: block;
	}

	#mc_embed_signup .mc-field-group input[type="email"] {
		font-family: $gotham;
		height: 36px;
		color: #1968c5;
		font-size: 0.875em;
		font-weight: 700;
		border: 1px solid $slate;
		border-radius: 5px;
		width: 100%;
		padding: 10px;
		background: transparent;

		@include tablet-portrait {
			height: 52px;
			font-size: 1.125em;
		}

		&:focus, &:active {
			outline: none;
		}

		&::-moz-selection { background: #1968c5; color: $white; text-shadow: none; }
		&::selection { background: #1968c5; color: $white; text-shadow: none; }

	}



	#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    	border: 1px dashed $mailchimp-red;
    	flex-basis: 100%;
	}

	#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
		background: none;
		padding: 10px 0 0 0;
		margin: 0;
		display: inline-block;
		color: $mailchimp-red;
		font-family: $gotham;
		font-size: 0.75em;
		border: none;
		position: absolute;
		bottom: -20px;
	}

	#mc_embed_signup .mc-field-group input {
		padding: 0 22px;
		text-indent: 0;
	}

	input[type="submit"] {
		display: block;
		font-family: $gotham;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0em;
		font-size: 0.675em;
		border-radius: 3px;
		color: $white;
		border: 1px solid $mailchimp-blue;
		background: $mailchimp-blue;
		transition: all 0.3s;
		height: auto;
		margin: 0;

		@include tablet-portrait {
			letter-spacing: 0.10em;
			font-size: 0.75em;
			height: 52px;
		}

		&:hover {
			background: $mailchimp-blue;
			color: $white;
			border-radius: 3px;
			cursor: pointer;

		}
		&:focus, &:active {
			outline: none;
		}
	}
}